* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
border: none;
box-sizing: border-box;
  }


/* button {
    background: none;
    border: none;
    cursor: pointer;
} */