
/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-name-title: rgb(250, 210, 8);
$border-box-green: rgb(109, 175, 9);
$border-box-blue: rgb(55, 152, 221);

/* FONTS */

$font-normal: 'Montserrat', sans-serif; // normal 
$font-title: "Anton", sans-serif; //titles



