
/* COLORS */
$color-white: #ffffff;
$color-black: #000000;

/* FONTS */
/* $font-title-big: bold 2rem 'Montserrat', sans-serif; // título
$font-text-big: normal 1.2rem 'Montserrat', sans-serif; // subtítulo
$font-title-biggest: bold 3rem 'Montserrat', sans-serif; // otro subtítulo */
$font-normal: 'Montserrat', sans-serif; // normal 


