@use "../core/variables" as vars;

.listClass {

    &__ul {
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
        justify-items: center;
        padding: 30px 60px; 

    }

    &__li {
        background-color: vars.$color-black;
        border-radius: 20px;
        border: 2px solid vars.$border-box-green;
        box-shadow: 0 0 15px vars.$border-box-green;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        flex: 1 1 auto;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    &__li:hover {
        transform: scale(1.1);
    }

    &__img {
        width: 100%;
        border-radius: 20px;
        padding: 10px;
        max-width: min(400px, 100%);
        min-width: max(100px, 50%);
    }

   

    &__characterName {
        color: vars.$color-name-title;
        text-align: center;
        font-size: 20px;
        font-family: vars.$font-normal;
        font-size: 20px;
        font-weight: 700;
    }

    &__characterSpecies {
        color: vars.$color-white;
        font-family: vars.$font-normal;
        font-weight: 500;
        text-align: center;
    }
}


