@use "../core/variables" as vars;

.filtersClass {
    background-color: vars.$color-black;
    display: flex;
    justify-content: space-evenly;
    margin: 0 70px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid vars.$border-box-blue;
    box-shadow: 0 0 15px vars.$border-box-blue;

    &__name {
        font-family: vars.$font-title;
        color: vars.$color-name-title;
        font-size: 20px;
        letter-spacing: 1px;
    }

    &__inputName {
        background-color: vars.$color-black;
        border: 2px solid vars.$border-box-blue;
        border-radius: 5px;
        padding: 8px;
        width: 200px;
        color: vars.$color-white;

        &:focus-visible {
            box-shadow: 0 0 30px vars.$border-box-blue;
        }
     }
    
    

    &__specieOption {
        font-family: vars.$font-title;
        color: vars.$color-name-title;
/*         display: inline-flex;
        align-items: center; */
        margin-right: 15px;
/*         position: relative; */
        padding-left: 40px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    &__inputSpecie {
        width: 20px;
        height: 20px;      
    }

    &__button {
        width: 100px;
        margin-left: 10px;
        font-family: vars.$font-title;
        color: vars.$color-name-title;
        background-color: vars.$color-black;
        border: 2px solid vars.$border-box-blue;
        border-radius: 5px;
        font-size: 18px;
        letter-spacing: 2px;

    }

    &__button:hover {
        transform: scale(1.1);
        box-shadow: 0 0 30px vars.$border-box-blue;
    }
}

.NoCharacter {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &__text {
       
        text-align: center;
        margin-top: 20px;
        font-family: vars.$font-title;
        color: vars.$color-name-title;
        font-size: 30px;
        letter-spacing: 1px;
    }

    &__img {
        width: 40%;
    }
}

