@use 'core/reset';
@use "layout/characterList";
@use "layout/characterDetail";
@use "layout/header";
@use "layout/filters";
@use "core/variables" as vars;

:root {

    color: vars.$color-black;
    background: url("/src/images/cover.webp") no-repeat center center fixed;
    background-size: cover; 

}

.backLink {
    background-color: vars.$color-black;
    width: 150px;
    text-align: center;
    font-family: vars.$font-title;
    color: vars.$color-name-title;
    border-radius: 50px;
    border: 5px solid vars.$border-box-green;
    box-shadow: 0 0 15px vars.$border-box-green;
    padding: 20px;
    color: vars.$color-white;
    font-size: 20px;
}

.backLink:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px vars.$border-box-green;
}

